.comments {
  display: flex;
  flex-direction: column;
}

.content {
  color: white;
  margin: 0px;
}

.text {
  display: flex;
  justify-content: center;
  color: white;
}

.header {
  margin-bottom: 2%;
  margin-top: 10%;
  color: white;
}
