  .image {
   width: 30%;
   margin-right: 50px;
   margin-left:50px;
   
  }
  
  .genres {
    display: flex;
    justify-content: center;
  }

  .span {
    display: flex;
    justify-content: center;
  }