.navbar {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 25px;
  }
  
  .image {
    width: 200px !important;
  }
  
  .links {
    display: flex;
    align-items: center;
    margin-left: 25px;
    list-style-type: none;  
  }
  
  .links > li:not(:last-of-type) {
    margin-right: 15px;
  }
  